html, body{
    width: 100vw;
    height: 100vh;
    margin: auto;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    background-color: #3DBCD9;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.header__section{
    display: flex;
    align-items: center;
}
.header__section a{
    color: #fff;
    text-decoration: none;
}
.header__item{
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
}
.header__item:hover{
    background-color: #FAB6A2;
    border-radius: 4px;
}
.headerlogo{
    font-weight: bold;
}
.headerButton{
    cursor: pointer;
}
.headerLogin{
    position: absolute;
    right: 10px;
}

/*Main image*/

.image__section{
    display: flex;
}
.image__item{
    height: 220px;
    width: 100%;
    background-image: url("/public/images/home-pg.png");
    background-size: cover;
    background-position: center;
}
.text__section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

/*Post section*/

.post__section{
    display: flex;
    justify-content: center;
}
.post__preview a{
    text-decoration: none;
    color: black;
}

/*Form section*/

.form__section {
    display: flex;
    background-color: beige;
    border-radius: 3px;
    padding: 1.8em;
}
.message__section {
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    order: 2;
}
.message__section > textarea {
   flex: 1; 
   min-width: 18em;
}
.contact__section {
   	flex: 1; 
    order: 1;
   	margin-right: 2em; 
}
.contact__section input {
    width: 100%;
}
.contact__section input,
.contact__section button {
    padding: 1em;
    margin-bottom: 1em;
}
.contact__section button {
    background: gray;
    color: white;
    border: 0;
    cursor: pointer;
}

/*Footer section*/

footer{
    margin-top: auto;
}
.footer__section{
    padding-bottom: 0;
}
.social__section{
    display: flex;
    justify-content: center;
    border-top: 1px black solid;
    padding-top: 10px;
    list-style-type: none;
}
.social__section li{
    margin-right: 45px;
    font-size: 20px;
}
li{
    height: 20px;
}
li a{
    color: black;
}
